


body {
    background-image: url('assets/galaxy-wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  canvas {
    display: block;
    background: black;
    position: relative;
  }
  
  .score-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 24px;
  }
  
  .life-container {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 24px;
  }
  
  #startButton, #gameOverButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  #gameOverButton {
    display: none;
  }

  #spaceShipImage {
    display: none;
  }
  
  .enemy-image {
    display: none;
  }